<div class="well">
  <%= user_task.description %>
  <%= user_task.due_date %>
  <%= link_to 'Show', user_task %>
  <%= link_to 'Edit', edit_user_task_path(user_task) %>
  <%= link_to 'Destroy', user_task, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>